.page1 {
    background-color:EDE4E0 ;
    position:relative
}
div {display:block}
.title{
    position:relative;
    top: 80px;
    padding-bottom: 50px;

}
body {
    text-align: center;
    margin:0
}
.maindog{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
h1 {font-family: 'Kanit', sans-serif;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    letter-spacing: 3px;
    color: 61764B
}
.welcome {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-top: 0px;
    padding-top: 0px;

}
#paws{
    width: 50px;
    transform: rotate(-30deg);

}
.paw1 {
    position: relative;
    left:360px;
    top: 25px;
}

.paw2 {
    position:relative;
    left:290px;
    top: 74px;
}
.paw3 {
    position:relative;
    left:280px;
    top: 100px;
}
.page2 {
    background-color:C8DBBE;
    position:relative;
}
.zach{border-radius: 100px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: solid;
    border-color:61764B;
    box-shadow: 10px 5px 50px ;
}
.about{
    font-family: 'Montserrat', sans-serif; 
    padding-bottom: 50px;
}

.hi{
    font-family: 'Montserrat', sans-serif; 
    font-size: 50px;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    letter-spacing: 3;
    
    color: 61764B;
 
}
.workheader{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 0%;
    font-size: 20;
}
.page3 {
    background-image: linear-gradient(#EDE4E0, #C8DBBE) ;
    position: relative;
    padding: 0%;
    margin: -20;
    
}
.fit{
    height:200px;
    width:200px;
    object-fit: cover;
    border: double;
    
}

.work{
    display:flex;
    gap:30px;
    padding-bottom: 70px ;
    flex-wrap: wrap;
    
}
.worktxt{
    font-family: 'Montserrat', sans-serif; 
    font-size: 50px;
    margin-top: 0px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 0px;
    letter-spacing: 3;
    
    color: 61764B;
}
p{
    font-family: 'Montserrat', sans-serif;
    word-break: break-all;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  .footer{
    background-color:#9F8772 ;
  }
 .contact{
    font-family: 'Montserrat', sans-serif;
    padding: 0%;
    margin: 5px;
    font-size: 15px;
 }
 .touch{ 
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    padding-top: 20px;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    padding-bottom: 10px;
}
